<h2>Heroes list</h2>

<div *ngIf="loading" class="page_loader">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>



<div *ngIf="!loading">
  <button type="button" *ngIf="!showFavoriteHeroes" (click)="showFavoriteHeroes = !showFavoriteHeroes">Favorite heroes</button><br><br>
  <button type="button" *ngIf="showFavoriteHeroes" (click)="showFavoriteHeroes = !showFavoriteHeroes">Back to heroes list</button><br><br>

  <div *ngIf="showFavoriteHeroes">
    <ul class="heroes">
      <li *ngFor="let hero of favoriteHeroes" (click)="onSelect(hero)">
        <img [src]="hero.image" class="thumbnail"> <span class="thumbnailText">{{hero.name}}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="!showFavoriteHeroes">
    <button type="button" (click)="previousHeroes()">Previous heroes</button>    {{offset}} - {{offset + 20}}     <button type="button" (click)="nextHeroes()">Next heroes</button>

    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <img [src]="hero.image" class="thumbnail"> <span class="thumbnailText">{{hero.name}}</span> <img (click)="$event.stopPropagation();favorHero(hero);" class="favoriteIcon" [src]="hero.favorite ? favoredImage : unfavoredImage">
      </li>
    </ul>

    <button type="button" (click)="previousHeroes()">Previous heroes</button>    {{offset}} - {{offset + 20}}     <button type="button" (click)="nextHeroes()">Next heroes</button>
  </div>
</div>
